@font-face {
  font-family: "clacon";
  src: url("./assets/fonts/clacon.eot");
  src: local("☺"), url("./assets/fonts/clacon.woff") format("woff"),
    url("./assets/fonts/clacon.ttf") format("truetype"),
    url("./assets/fonts/clacon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 16px;
}

body {
  font-family: clacon;
  background-color: black;
  color: #41ff00;
  overflow: hidden;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.description {
  font-size: 2.5rem;
}

.link {
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: #41ff00;
}
.link:hover {
  text-decoration: underline;
}

.name {
  font-size: 3rem;
}

.typing {
  position: relative;
  padding: 10px auto;
}

.description.typing::after {
  -webkit-animation: typing 1s steps(13) forwards, caret 1s 1;
  animation: typing 1s steps(13) forwards, caret 1s 1;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.about.typing::after {
  -webkit-animation: typing 1s steps(8) forwards, caret 1s 1;
  animation: typing 1s steps(8) forwards, caret 1s 1;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.links.typing::after {
  -webkit-animation: typing 1s steps(5) forwards, caret 1s 1;
  animation: typing 1s steps(5) forwards, caret 1s 1;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.contact-me.typing::after {
  -webkit-animation: typing 1s steps(10) forwards, caret 1s infinite;
  animation: typing 1s steps(10) forwards, caret 1s infinite;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}
.typing::after {
  content: "|";
  position: absolute;
  right: 0;
  width: 100%;
  color: black;
  background: black;
  -webkit-animation: typing 1s steps(15) forwards, caret 1s 2;
  animation: typing 1s steps(15) forwards, caret 1s 2;
}

@-webkit-keyframes typing {
  to {
    width: 0;
  }
}

@keyframes typing {
  to {
    width: 0;
  }
}
@-webkit-keyframes caret {
  50% {
    color: #41ff00;
  }
}
@keyframes caret {
  50% {
    color: #41ff00;
  }
}

.header {
  font-size: 32px;
}

.sub-header {
  font-size: 24px;
}

.content {
  font-size: 16px;
}

.header {
  font-size: 64px;
}

.sub-header {
  font-size: 48px;
}

.content {
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  .header {
    font-size: 64px;
  }

  .sub-header {
    font-size: 48px;
  }

  .content {
    font-size: 32px;
  }
}
